.content #tab-actions>.dropdown-menu .button:hover {
    background-color: #534D64;
    color: #F08377;
}

a.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: #ccc; /* or any other color to indicate disabled state */
}

a.disabled {
    pointer-events: none;
}

a[disabled] {
    pointer-events: none;
}